@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

/* globals.css */

.light {
    --bg-main: #ffffff;
    --text-main: #000000;
}

.dark {
    --bg-main: #000f1e;
    --text-main: #ffffff;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: background-color 0.5s ease, color 0.5s ease;
}


/* You can still apply font styles to body */
body {
    @apply font-mono;
}


 
